.container {
    display: flex;
    flex-flow: row wrap;
    /* center main container */
    max-width: 800px;
    margin: 0 auto;
}

.container > * {
    padding: 10px;
    flex: 1 100%;
}

@media all and (min-width: 600px) {
    .app-container{ flex: 1 auto; }
}